In [52]:
import pandas as pd
import numpy as np

In [53]:
import glob

In [54]:
path = r"C:\Users\necme\Documents\Python Scripts\IBBE_VBB\pandas library code - 24112022"
filenames = glob.glob(path + "\*.csv")
covid = pd.DataFrame()

for f in filenames:
    df = pd.read_csv(f,delimiter=',')
    covid = covid.append(df,ignore_index=True,sort=True)

C:\Users\necme\AppData\Local\Temp\ipykernel_16108\33497258.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  covid = covid.append(df,ignore_index=True,sort=True)

In [55]:
covid.tail()

,Active,Admin2,Case_Fatality_Ratio,Combined_Key,Confirmed,Country_Region,Deaths,FIPS,Incident_Rate,Last_Update,Lat,Long_,Province_State,Recovered
4011,NaN,NaN,0.811907,West Bank and Gaza,703036,West Bank and Gaza,5708,NaN,13781.193300,2022-11-24 04:21:09,31.952200,35.233200,NaN,NaN
4012,NaN,NaN,0.000000,Winter Olympics 2022,535,Winter Olympics 2022,0,NaN,NaN,2022-11-24 04:21:09,39.904200,116.407400,NaN,NaN
4013,NaN,NaN,18.074508,Yemen,11945,Yemen,2159,NaN,40.048994,2022-11-24 04:21:09,15.552727,48.516388,NaN,NaN
4014,NaN,NaN,1.204299,Zambia,333721,Zambia,4019,NaN,1815.283936,2022-11-24 04:21:09,-13.133897,27.849332,NaN,NaN
4015,NaN,NaN,2.173770,Zimbabwe,257893,Zimbabwe,5606,NaN,1735.142748,2022-11-24 04:21:09,-19.015438,29.154857,NaN,NaN

In [56]:
covid = pd.read_csv('11-23-2022.csv')

In [57]:
covid.tail()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
4011,NaN,NaN,NaN,West Bank and Gaza,2022-11-24 04:21:09,31.952200,35.233200,703036,5708,NaN,NaN,West Bank and Gaza,13781.193300,0.811907
4012,NaN,NaN,NaN,Winter Olympics 2022,2022-11-24 04:21:09,39.904200,116.407400,535,0,NaN,NaN,Winter Olympics 2022,NaN,0.000000
4013,NaN,NaN,NaN,Yemen,2022-11-24 04:21:09,15.552727,48.516388,11945,2159,NaN,NaN,Yemen,40.048994,18.074508
4014,NaN,NaN,NaN,Zambia,2022-11-24 04:21:09,-13.133897,27.849332,333721,4019,NaN,NaN,Zambia,1815.283936,1.204299
4015,NaN,NaN,NaN,Zimbabwe,2022-11-24 04:21:09,-19.015438,29.154857,257893,5606,NaN,NaN,Zimbabwe,1735.142748,2.173770

In [58]:
covid['Country_Region'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antarctica', 'Antigua and Barbuda', 'Argentina', 'Armenia',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana',
       'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burma', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Comoros', 'Congo (Brazzaville)', 'Congo (Kinshasa)', 'Costa Rica',
       "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czechia', 'Denmark',
       'Diamond Princess', 'Djibouti', 'Dominica', 'Dominican Republic',
       'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea',
       'Estonia', 'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France',
       'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece',
       'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana',
       'Haiti', 'Holy See', 'Honduras', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Korea, North', 'Korea, South', 'Kosovo', 'Kuwait', 'Kyrgyzstan',
       'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya',
       'Liechtenstein', 'Lithuania', 'Luxembourg', 'MS Zaandam',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico',
       'Micronesia', 'Moldova', 'Monaco', 'Mongolia', 'Montenegro',
       'Morocco', 'Mozambique', 'Namibia', 'Nauru', 'Nepal',
       'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria',
       'North Macedonia', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
       'Spain', 'Sri Lanka', 'Sudan', 'Summer Olympics 2020', 'Suriname',
       'Sweden', 'Switzerland', 'Syria', 'Taiwan*', 'Tajikistan',
       'Tanzania', 'Thailand', 'Timor-Leste', 'Togo', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Tuvalu', 'US',
       'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam',
       'West Bank and Gaza', 'Winter Olympics 2022', 'Yemen', 'Zambia',
       'Zimbabwe'], dtype=object)

In [59]:
covid['Country_Region'].nunique()

201

In [60]:
covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4016 entries, 0 to 4015
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   FIPS                 3268 non-null   float64
 1   Admin2               3272 non-null   object
 2   Province_State       3837 non-null   object
 3   Country_Region       4016 non-null   object
 4   Last_Update          4016 non-null   object
 5   Lat                  3925 non-null   float64
 6   Long_                3925 non-null   float64
 7   Confirmed            4016 non-null   int64
 8   Deaths               4016 non-null   int64
 9   Recovered            0 non-null      float64
 10  Active               0 non-null      float64
 11  Combined_Key         4016 non-null   object
 12  Incident_Rate        3922 non-null   float64
 13  Case_Fatality_Ratio  3974 non-null   float64
dtypes: float64(7), int64(2), object(5)
memory usage: 439.4+ KB

In [61]:
covid['Country_Region'].head(10)

0            Afghanistan
1                Albania
2                Algeria
3                Andorra
4                 Angola
5             Antarctica
6    Antigua and Barbuda
7              Argentina
8                Armenia
9              Australia
Name: Country_Region, dtype: object

In [62]:
df1 = covid[['Country_Region','Confirmed','Incident_Rate','Deaths']]

In [63]:
df1

            Country_Region  Confirmed  Incident_Rate  Deaths
0              Afghanistan     205391     527.613031    7833
1                  Albania     333293   11581.520606    3594
2                  Algeria     271041     618.094762    6881
3                  Andorra      46824   60601.824888     156
4                   Angola     104491     317.927791    1923
...                    ...        ...            ...     ...
4011    West Bank and Gaza     703036   13781.193300    5708
4012  Winter Olympics 2022        535            NaN       0
4013                 Yemen      11945      40.048994    2159
4014                Zambia     333721    1815.283936    4019
4015              Zimbabwe     257893    1735.142748    5606

[4016 rows x 4 columns]

In [64]:
df1.iloc[1:4]

  Country_Region  Confirmed  Incident_Rate  Deaths
1        Albania     333293   11581.520606    3594
2        Algeria     271041     618.094762    6881
3        Andorra      46824   60601.824888     156

In [65]:
df1.loc[df1['Country_Region'] == 'Papua New Guinea']

       Country_Region  Confirmed  Incident_Rate  Deaths
485  Papua New Guinea      45819     512.114248     668

In [66]:
display('Sorted Data Frame', df1.sort_values(['Country_Region'], ascending = True).head(5))

'Sorted Data Frame'

  Country_Region  Confirmed  Incident_Rate  Deaths
0    Afghanistan     205391     527.613031    7833
1        Albania     333293   11581.520606    3594
2        Algeria     271041     618.094762    6881
3        Andorra      46824   60601.824888     156
4         Angola     104491     317.927791    1923

In [68]:
display('Sorted Data Frame', df1.sort_values(['Country_Region','Incident_Rate'], ascending = True).head(5))

'Sorted Data Frame'

  Country_Region  Confirmed  Incident_Rate  Deaths
0    Afghanistan     205391     527.613031    7833
1        Albania     333293   11581.520606    3594
2        Algeria     271041     618.094762    6881
3        Andorra      46824   60601.824888     156
4         Angola     104491     317.927791    1923

In [70]:
for index, row in df1.iterrows():
    if(row['Country_Region'] == 'Indonesia'):
        display(row[['Country_Region','Confirmed']]) # datada tek bir endonesia sonucu var diye 1 tane gösterdi

Country_Region    Indonesia
Confirmed           6627538
Name: 287, dtype: object

In [73]:
covid['Country_Region'].drop_duplicates(keep='first').head(10) #ilk tekrar edeni bırakarak tekrar eden sonuçları kısıtlıyor.

0            Afghanistan
1                Albania
2                Algeria
3                Andorra
4                 Angola
5             Antarctica
6    Antigua and Barbuda
7              Argentina
8                Armenia
9              Australia
Name: Country_Region, dtype: object