In [1]:
import numpy as np
import pandas as pd

In [2]:
import warnings
warnings.filterwarnings('ignore') #warning sürüm hatalarını görmezden geliyor.

In [3]:
#seriler

In [4]:
v = np.array([1,2,3,4,5,6,7])
s1 = pd.Series(v)
s1

0    1
1    2
2    3
3    4
4    5
5    6
6    7
dtype: int32

In [5]:
v

array([1, 2, 3, 4, 5, 6, 7])

In [6]:
s1.dtype

dtype('int32')

In [7]:
s1.nbytes / s1.shape[0]

4.0

In [8]:
s1.shape[0]

7

In [9]:
s1.count()

7

In [10]:
s0 = pd.Series([1,2,3], index=['a','b','c'])
s0

a    1
b    2
c    3
dtype: int64

In [11]:
s1.index = ['a','b','c','d','e','f','g']
s1

a    1
b    2
c    3
d    4
e    5
f    6
g    7
dtype: int32

In [12]:
v2 = np.random.random(10)
ind2 = np.arange(0,10)
s = pd.Series(v2,ind2)
s

0    0.923790
1    0.503909
2    0.858007
3    0.311301
4    0.083201
5    0.273414
6    0.793743
7    0.876004
8    0.368899
9    0.764758
dtype: float64

In [13]:
dict1 = {'a1':10,'a2':20,'a3':30,'a4':40}
s3 = pd.Series(dict1)
s3

a1    10
a2    20
a3    30
a4    40
dtype: int64

In [14]:
s3.keys()

Index(['a1', 'a2', 'a3', 'a4'], dtype='object')

In [15]:
s3.values

array([10, 20, 30, 40], dtype=int64)

In [16]:
pd.Series(99,index=[0,1,2,3,4,5])

0    99
1    99
2    99
3    99
4    99
5    99
dtype: int64

In [17]:
#serileri bölme

In [18]:
s[:1]

0    0.92379
dtype: float64

In [19]:
s[0:3]

0    0.923790
1    0.503909
2    0.858007
dtype: float64

In [20]:
s[::-1]

9    0.764758
8    0.368899
7    0.876004
6    0.793743
5    0.273414
4    0.083201
3    0.311301
2    0.858007
1    0.503909
0    0.923790
dtype: float64

In [21]:
#serileri birbirlerine ekleme

In [22]:
s2 = s1.copy()
s2

a    1
b    2
c    3
d    4
e    5
f    6
g    7
dtype: int32

In [23]:
s3

a1    10
a2    20
a3    30
a4    40
dtype: int64

In [24]:
s4 = s2.append(s3)
s4

a      1
b      2
c      3
d      4
e      5
f      6
g      7
a1    10
a2    20
a3    30
a4    40
dtype: int64

In [25]:
s4.drop('a4',inplace=False) #inplace'in default hali false

a      1
b      2
c      3
d      4
e      5
f      6
g      7
a1    10
a2    20
a3    30
dtype: int64

In [26]:
s4

a      1
b      2
c      3
d      4
e      5
f      6
g      7
a1    10
a2    20
a3    30
a4    40
dtype: int64

In [27]:
s4.drop('a4',inplace=True)

In [28]:
s4

a      1
b      2
c      3
d      4
e      5
f      6
g      7
a1    10
a2    20
a3    30
dtype: int64

In [29]:
s4 = s4.append(pd.Series({'a4':7}))

In [30]:
s4

a      1
b      2
c      3
d      4
e      5
f      6
g      7
a1    10
a2    20
a3    30
a4     7
dtype: int64

In [31]:
s4

a      1
b      2
c      3
d      4
e      5
f      6
g      7
a1    10
a2    20
a3    30
a4     7
dtype: int64

In [32]:
#seri operasyonları

In [33]:
v1 = np.array([10,20,30])
v2 = np.array([1,2,3])
s1 = pd.Series(v1)
s2 = pd.Series(v2)
s1,s2

(0    10
 1    20
 2    30
 dtype: int32,
 0    1
 1    2
 2    3
 dtype: int32)

In [34]:
s1.add(s2)

0    11
1    22
2    33
dtype: int32

In [35]:
s1.sub(s2)

0     9
1    18
2    27
dtype: int32

In [36]:
s1.subtract(s2)

0     9
1    18
2    27
dtype: int32

In [37]:
s1.add(9)

0    19
1    29
2    39
dtype: int32

In [38]:
s1.mul(s2)

0    10
1    40
2    90
dtype: int32

In [39]:
s1.multiply(s2)

0    10
1    40
2    90
dtype: int32

In [40]:
s1.multiply(1000)

0    10000
1    20000
2    30000
dtype: int32

In [41]:
s1.divide(s2)

0    10.0
1    10.0
2    10.0
dtype: float64

In [42]:
s1.div(s2)

0    10.0
1    10.0
2    10.0
dtype: float64

In [43]:
#s1.max(), min(), median(), std(), equals() sen yap

In [44]:
s5 = pd.Series([1,1,2,2,3,3], index=[0,1,2,3,4,5])
s5

0    1
1    1
2    2
3    2
4    3
5    3
dtype: int64

In [45]:
s5.value_counts()

1    2
2    2
3    2
dtype: int64

In [46]:
#dataframe (veri çerçeveleri)